<md-toolbar layout="row">
  <md-button class="menu" ng-click="controlGymCtrl.toggleSideNav()" hide-gt-sm>
    Menu
  </md-button>
  <h1>Control Gym Web - Administraci&oacute;n</h1>
</md-toolbar>
<div class="container" layout="row" flex>
  <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="sideNav">
    <md-list>
      <md-list-item class="md-2-line">
        <md-button ng-click="controlGymCtrl.goTo('app.miembros')">
          Miembros
        </md-button>
      </md-list-item>
    </md-list>
  </md-sidenav>
  <div id="content" ui-view></div>
</div>