<md-toolbar layout="row">
  <md-button class="menu" ng-click="controlGymCtrl.toggleSideNav()" hide-gt-sm>
    Menu
  </md-button>
  <div flex class="text-center"><h1>Control Gym Web - Administraci&oacute;n</h1></div>
</md-toolbar>
<div class="container" layout="row" flex>
  <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="sideNav">
    <md-list>
      <md-list-item>
        <md-button ng-click="controlGymCtrl.abrirSeccion('app.miembros.lista')">
          Miembros
        </md-button>
      </md-list-item>
      <md-list-item>
        <md-button ng-click="controlGymCtrl.abrirSeccion('app.clases.lista')">
          Clases y Horarios
        </md-button>
      </md-list-item>
      <md-list-item>
        <md-button ng-click="controlGymCtrl.logout()">
          Cerrar sesi&oacute;n
        </md-button>
      </md-list-item>
    </md-list>
  </md-sidenav>
  <div id="content" ui-view flex></div>
</div>